@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body { 
  font-family: "Work Sans", sans-serif;
  background-color: hsl(13, 19%, 90%);
  color: rgb(20, 19, 19);
}

.contaner  {
  display: flex;
  align-content: center;
  flex-direction: column;
  margin: 2rem auto;
}

.valueContainer {
  display: flex;
  align-content: center;
  flex-direction: column;
}

h1 {
  text-align: center;
}

button {
  background-color: hsl(13, 19%, 82%);
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  font-size: 1.5rem;
  border-radius: 4px;
}
  button:hover {
    background-color: hsl(13, 19%, 76%);
    cursor: pointer;
  }
  button:active {
    top: 2px;
    position: relative;
  }

p {
  text-align: center;
  margin: 0;
}

.pitchValue {
  font-size: 9rem;
  padding: 2rem 0 0 0;
}